%h4= @team.name

%p= @team.description

%h5="Members:"
- @team.users.each do |user|
  %u
    %li= link_to "#{user.first_name} #{user.last_name}", show_user_path(user.id)

%h5="Repositories:"
- @team.repositories.each do |repository|
  %u
    %li= repository.link

%a.btn{ href: "#" }= "Delete"