= link_to "\u2190 " + "Team Overview", teams_path

%h3= @team.name


.row-fluid

  .span4
    %h5="Members:"
    - @team.users.each do |user|
      = link_to user_path(user.id) do
        = render partial: '/users/user_card', :locals => { user: user }
    
  .span8
    .tabbable.tabs-right
      %ul.nav.nav-tabs#team_tab_options
        %li.active
          %a{href: "#topics", "data-toggle" => "tab"}
            %span= "Recent Topics"
        %li
          %a{href: "#statuses", "data-toggle" => "tab"}
            %span= "Recent Statuses"
        %li
          %a{href: "#repositories", "data-toggle" => "tab"}
            %span= "Repositories"

      .tab-content
        .tab-pane.active#topics
          = render @topics

        .tab-pane#statuses
          = render @statuses

        .tab-pane#repositories
          - @team.repositories.each do |repository|
            %u
              %li= repository.link


%br/
%br/
%a.btn.btn-danger{ href: "#" }= "Delete"