%h3= @team.name
%h5= 'Team description:'
= @team.description

.row-fluid
  .span5
    %h5='Members:'
    - @team.users.each do |user|
      = link_to user_path(user.id) do
        = render partial: '/users/user_card', :locals => { user: user }
    
  .span7
    .tabbable.tabs-right
      %ul.nav.nav-tabs#team_tab_options
        %li.active
          %a{href: "#topics", "data-toggle" => "tab"}
            %span= "Recent Topics"
        %li
          %a{href: "#statuses", "data-toggle" => "tab"}
            %span= "Recent Statuses"
        %li
          %a{href: "#repositories", "data-toggle" => "tab"}
            %span= "Repositories"

      .tab-content
        .tab-pane.active#topics
          = render @topics
        .tab-pane#statuses
          = render @statuses
        .tab-pane#repositories
          - @team.repositories.each do |repository|
            %u
              %li= repository.link

%p
  = link_to 'Delete team', team_path(@team), class: 'btn btn-danger', method: :delete, confirm: 'Are you sure?'
