.pull-right.nmr= render partial: 'search'

= link_to "#new_topic", class: 'btn pull-right', "data-toggle" => "modal" do
  %i.icon-plus
  = "Create Topic"

%h3= "Topics"  
= render @topics

= render 'new'


= will_paginate @topics, renderer: BootstrapPagination::Rails, param_name: :topics, page_links: false if !params[:search]