%p= link_to "Back to topics", topics_path

%h1= "#{@topic.title}"
.post-content
  %p.post-content= @topic.content
%h2 Responses
.responses
  %table.hole-width.row-fluid
    - @responses.each do |response|
      %tr.response-box
        = render response


%h2 Enter a New Response
= form_for :response, url: "/topics/#{@topic.id}/responses" do |f|
  %p
    %br/
    = f.text_area :content
  = f.hidden_field :user_id, :value => current_user.id
  %p
    = f.submit value: "Send"

