.row-fluid
  #user_profile.span3
    %img.placeholder{ src: Gravatar.new(@user.email).image_url }

    %br
    %h1= @user.first_name
    %h1= @user.last_name
    %h5= @user.role
    
    %hr

    %table
      %tr
        %td.grey{:width => "60px"}= "From:"
        %td= @user.location
      %tr
        %td.grey= "Joined:"
        %td= @user.created_at.to_formatted_s(:long)
      %tr
        %td.grey= "Email:"
        %td= @user.email
      %tr
        %td{colspan: 3}      
          .btn= link_to "Update Status", new_status_path
          .btn= link_to "New Topic", new_topic_path
      %tr
        %td{colspan: 3}
          .pull-right= link_to "edit profile", edit_user_path(@user.id) if current_user.id == @user.id

  #profile_content.span9
    .row-fluid 
      .span12
        - if @user.status.count > 0
          .span2 Latest status: 
          - stat = @user.status.last
          .latest_stat= stat.content
        
      %table.table.table-striped.current_user_topics
        %tbody
        - @user_posts.reverse.each do |p|
          %tr
            %td{:width => "70%"}= link_to p.title, topic_path(p.id)
            %td= link_to p.created_at.to_formatted_s(:long), topic_path(p.id)
        
      .my_previous_statuses
        - head, *tail = @user.status.reverse
        - tail.each do |s|
          .span3.user_stat
            = s.content
          
	  

    
