.row-fluid
  #user_profile.span3
    .placeholder
    %br
    %h1= @user.first_name
    %h1= @user.last_name
    %h5= @user.role
    
    %hr
    
    %table
      %tr
        %td.grey{:width => "60px"}= "from:"
        %td= @user.location
      %tr
        %td.grey= "Joined:"
        %td= @user.created_at.to_formatted_s(:long)
      %tr
        %td.grey= "Email:"
        %td= @user.email
      %tr
        %td
        %td.pull-right= link_to "edit", edit_user_path(@user.id) if current_user.id == @user.id
  #profile_content.span8
    .row-fluid 
      .span11
          
	  

    
