= form_for :response, url: "/topics/#{@topic.id}/responses" do |f|
  %p.row-fluid
    %br/
    = f.text_area :content, class: 'span12'
  = f.hidden_field :user_id, :value => current_user.id
  %p
    = f.submit value: "Send"

