<!DOCTYPE html>
<html>
<head>
  <title>Injixo Teams</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="masthead">
      <%= render 'layouts/user_header' %>
      <h3 class="muted"><%= link_to "Injixo Teams", root_path %></h3>
    </div>
    <% if current_user && current_user.status.count > 0 %>
      <div class="span12 progress">    
        <% stat = current_user.status.last %>
          <div class='pull-left'> <%= stat.content %> </div>
          <div class='pull-right hide_show'> 
            <%= link_to 'edit', edit_status_path(stat.id) %>
             &nbsp <%= " | "%> &nbsp
            <%= link_to 'new', new_status_path %>
          </div>
      </div>
    <% end %>
    <hr />
    <%= yield %>
  </div>

</body>
</html>
