<!DOCTYPE html>
<html>
<head>
  <title>Injixo Teams</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="masthead">
      <%= render 'layouts/user_header' %>
      <h3 class="muted"><%= link_to "Injixo Teams", root_path %></h3>
    </div>
    <hr />
    <% if current_user && current_user.status.count > 0 %>
      <div class="span12 progress">    
        <% stat = current_user.status.last %>
          <%= stat.content %>
      </div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
